<h3 class="ui dividing header">Send to Asana</h3>
<form class="ui app form">
  {{#each tickets}}
    {{#ticket}}
      <div class="field">
        <label for="org_select">Select Organization</label>
        <select name="org_select"></select>
      </div>
      <div class="field">
        <label for="project">Select Project</label>
        <select name="projects_select"></select>
      </div>
      <div class="field">
        <label for="title">Task Name</label>
        <input name="title" type="text" value="{{subject}}">
      </div>
      <div class="assign field">
        <label for="assign_to">Assign To</label>
        <select name="assign_to">
          <option value="none">Don't Assign</option>
        </select>
      </div>
      <div class="field">
        <label for="notes">Notes</label>
        <textarea name="notes">
          {{content.text}}

          {{#if content.attachments.length}}
            \nAttachments:\n
            
            {{#each content.attachments}}
              {{url.original}}\n
            {{/each}}
          {{/if}}

          https://{{../../company.subdomain}}.supportbee.com/tickets/{{id}}
        </textarea>
      </div>
      <div class="actions">
        <a class="ui submit primary button btn">Send to Asana</a>
        <a class="ui right floated cancel basic button btn">Cancel</a>
      </div>
    {{/ticket}}
  {{/each}}
</form>
